@import "tailwindcss";
@font-face {
    font-family: font1;
    src: url(../src/assets/fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: font2;
    src: url(../src/assets/fonts/Lausanne-500\ \(2\).woff2);
}